asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
cloudinary==1.44.1
distlib==0.4.0
dj-database-url==3.0.1
Django==4.2.24
django-cloudinary-storage==0.3.0
djangorestframework==3.14.0
filelock==3.19.1
gunicorn==23.0.0
idna==3.10
packaging==25.0
pillow==11.3.0
pipenv==2025.0.4
platformdirs==4.4.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.5
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
virtualenv==20.34.0
whitenoise==6.10.0
